.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.03em;
}

h1 { font-size: 3rem; }

h2 { font-size: 2.25rem; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.25rem; }

h5 { font-size: 1.125rem; }

p {
    letter-spacing: 0.03em;
    line-height: 1;
}

