@use "../globals/fonts.scss";

$color-primary: #5a7690;
$color-light: #f5f5f5;
$color-dark: #3a383e;

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: clamp(20px, 5vw, 200px);
    padding-block: 25px; 

    @media (min-width: 768px) {
        padding-block: 50px; 
    }
}

body {
    font-family: "Manrope", sans-serif;
    background-color: $color-light;
}

html {
    scroll-behavior: smooth;
}