@use 'components/button';
@use 'components/snake';
@use 'components/heroBlocks.scss';

@use 'globals/global.scss';
@use 'globals/fonts.scss';
@use 'globals/variables.scss';

@use 'layout/navbar.scss';
@use 'layout/footer.scss';

